html, body {
  background-color: #141414;
  height: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  -webkit-text-size-adjust: none;
}
#mainline {
  width: 50%;
  min-height: 100%;
  margin: 0 auto;
  background-color: #222222;
  padding-top: 50px;
}
.apcha {
  background: #00becf;
  padding: 1% 2%;
  font-size: calc((100vw - 480px)/(1280 - 580) * 8 + 5px);
  text-align:center;
  margin-left: 42%;
  margin-right: 42%;
  margin-top: 5px;
  color: white;
  border-radius: 10px;
  transition:0.3s;
}
.apcha:hover {
  background: #84e0e7;
  box-shadow: 0 0 30px #84e0e7;
}
.out-num {
  background: #b5adfd;
  text-shadow: 0px 0px 5px black;
  padding: 5% 1%;
  font-size: calc( (100vw - 480px)/(1280 - 580) * 20 + 15px);
  text-align:center;
  margin-left: 42%;
  margin-right: 42%;
  color: white;
  border-radius: 10px;
  transition:0.3s;
  box-shadow: 0 0 30px 10px #b5adfd8e;
}